.card {
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#calculate-btn {
  margin-top: 20px !important;
  width: 90%;
  margin: auto;
}

.inputs {
  width: 90%;
  margin: auto;
  margin-top: 5vh;
  max-height: 100%;
}

::ng-deep .accordion .accordion-item {
    overflow: auto !important;
}

.title {
  font-size: 1.3vw;
  font-style: bold;
}
