.card {
  overflow-y: hidden;
  overflow-x: hidden;
}

.btn-lg {
  margin: 10px !important;
}
#radiusInput {
  display: inline-block;
  width: 60%;
}
.spinner-border {
  width: 1rem;
  height: 1rem;
}

.inputs {
  width: 90%;
  margin: auto;
  margin-top: 1vh;
  max-height: 100%;
}

::ng-deep .accordion .accordion-item {
    max-height: 50vh !important;
    overflow: auto !important;
}
