.card {
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.btn {
  margin: 30px !important;
}

.buttons {
  align-items: center;
}

.inputs {
  width: 90%;
  margin: auto;
  margin-top: 5vh;
  max-height: 100%;
}

::ng-deep .accordion .accordion-item {
    max-height: 70vh !important;
    overflow: auto !important;
}
