.star {
    font-size: 2rem;
    color: #ffebee;
    border: black;
  }
  .filled {
    color: #d50000;
  }
  .l {
    color: #ffebee
  }
  .m {
    color: #ffebee;
  }
  .s {
    color: #ffebee
  }
  .xs {
    color: #ffebee;
  }
  .filled.l {
      color: #c62828
  }
  .filled.m {
    color: #ef5350
  }
  .filled.s {
    color: #ef9a9a
  }
  .filled.xs {
    color: #ffcdd2;
  }
.tag {
    padding: 0px;
}

.rating {
    text-align: left;
    margin-left: 0.7vw;
}

.item {
  background-image:linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background-size: 100%;   
  background-size: cover; 
}

.btn {
  width: 100%;
  text-align: left;
  border: none;
  background-color: inherit;
  color: white;
  padding: 14px 28px;
  font-size: 1vw;
  font-style: italic;
  cursor: pointer;
  display: inline-block;
  }
  
  /* On mouse-over */
  .btn:hover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), transparent)}
  .clicked {
      color: wheat;
  }
