<div class="row item" [ngStyle]="getImage()">
    <div class="col-13 tag">
        <button class="btn custom-btn" [class.clicked]="checked" (click)="checkedTag()">
          <span>{{this.categoryLabels.get(category.name)}} ({{this.category.sights.length}})</span></button>
    </div>
    <div [hidden]="!checked" class="col rating">
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="custom-btn btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Priorität - {{priorityLabels.get(this.category.pref)}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <!--<button *ngFor='let value of priorityLabels.values()'ngbDropdownItem>{{value}}</button>-->
          <button [class.selected]="this.category.pref === 0" (click)='this.category.pref = 0;' ngbDropdownItem>Gar nicht</button>
          <button [class.selected]="this.category.pref === 1" (click)='this.category.pref = 1;' ngbDropdownItem>Sehr Niedrig</button>
          <button [class.selected]="this.category.pref === 2" (click)='this.category.pref = 2;' ngbDropdownItem>Niedrig</button>
          <button [class.selected]="this.category.pref === 3" (click)='this.category.pref = 3;' ngbDropdownItem>Neutral</button>
          <button [class.selected]="this.category.pref === 4" (click)='this.category.pref = 4;' ngbDropdownItem>Hoch</button>
          <button [class.selected]="this.category.pref === 5" (click)='this.category.pref = 5;' ngbDropdownItem>Sehr Hoch</button>
        </div>
      </div>
      <input
        id="typeahead-focus"
        type="text"
        class="form-control"
        [(ngModel)]="model"
        [ngbTypeahead]="search"
        (focus)="focus$.next($any($event).target.value)"
        (click)="click$.next($any($event).target.value)"
        [resultFormatter]="formatter"
        [inputFormatter]="formatter"
        [editable]='false'
        #sightSearch="ngbTypeahead"
      />
      <div *ngFor='let sight of sightsWithSpecialPref | async' class='row align-items-center'>
        <div class='sight row'>
          <p class="col sight-name">{{sight.name}}</p>
          <div class="col" style="white-space: nowrap; width: 30%">
            <button class='btn' type='button'
                    (click)='this.showSight(sight)'><i class="bi bi-geo-alt-fill"></i>
            </button>
            <button class='btn' type='button'
                    (click)='this.removeSpecialPrefSight(sight)'><i class="bi bi-x-lg"></i>
            </button>
          </div>
        </div>
        <div ngbDropdown class='row flex-grow-1'>
          <button type="button" class="custom-btn btn btn-outline-primary" id="dropdownBasic2" style="margin-left: 7px;" ngbDropdownToggle>Priorität - {{priorityLabels.get(sight.pref)}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <button [class.selected]="sight.pref === 0"(click)='sight.pref = 0;' ngbDropdownItem>Gar nicht</button>
            <button [class.selected]="sight.pref === 1" (click)='sight.pref = 1;' ngbDropdownItem>Sehr Niedrig</button>
            <button [class.selected]="sight.pref === 2" (click)='sight.pref = 2;' ngbDropdownItem>Niedrig</button>
            <button [class.selected]="sight.pref === 3" (click)='sight.pref = 3;' ngbDropdownItem>Neutral</button>
            <button [class.selected]="sight.pref === 4" (click)='sight.pref = 4;' ngbDropdownItem>Hoch</button>
            <button [class.selected]="sight.pref === 5" (click)='sight.pref = 5;' ngbDropdownItem>Sehr Hoch</button>
          </div>
        </div>
        </div>
    </div>
</div>
<hr>
