<app-navigation></app-navigation>
<div class="container-fluid col" style="margin-top: 3px;">
  <div class="introduction row align-items-center">
    <img src="assets/team-bild.jpg" class="col-3" alt="Ein Bild von dem Team" style="border-radius: 10px;">
    <div class="col">
      <h1>Willkommen bei Trailscout!</h1>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, s
        ed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea t
        akimata sanctus est Lorem ipsum dolor sit amet.
      </p>
    </div>
  </div>
  <div class="description row justify-content-center">
    <h2>Die beste Tour durch die Stadt!</h2>
    <img src="assets/app-Screenshot.png" alt="Ein Bild von der Main Page" style="width: 60%;">
  </div>
</div>
