.flex-vert {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #eeeeee;
  font-family: var(--bs-font-sans-serif);
}

.introduction {
  background-color: #636975;
  flex-grow: 1;
  text-align: center;
}

.description {
  background-color: #9299a6;
  text-align: center;
  padding: 10px;
}

.flex-hori {
  display: flex;
  gap: 10px;
}

p {
  margin: auto;
  width: 60%;
}
