<div id="container">
    <div id="map">
        
        <app-map-container 
        [circleRadius]="radius" 
        [startPoint]="markerCoords"  
        [initLat]="markerCoords?.lat ?? 48.7758459"
        [initLng]="markerCoords?.lng ?? 9.1829321"
        (markerLocation)="markerSet($event)"></app-map-container>
    </div>
    
        <ng-template #content let-offcanvas>
            <app-settings-taskbar 
            [sights]="sights" 
            [sightsWithPrio]="sightsWithPrio" 
            [startRadius]="radius" 
            [startPointSet]="marker"
            (settings)="getSettings($event)" 
            (radiusChange)="radiusChange($event)"
            (closeButton)="offcanvas.close('Save click')" ></app-settings-taskbar>
        </ng-template>
        <!-- <button class="btn btn-primary"  id="settings" (click)="open(content)">Open Settings</button> -->
        <i class=" bi-chevron-right" [class.disabled]="!markerCoords" [class.bi]="markerCoords" id="settings" (click)="open(content)" ngbTooltip="Click on Map to select startpoint first" [disableTooltip]="!!markerCoords"></i>
    
    
</div>
