<div id="container">
    <div id="map">
        
        <app-map-container 
        [circleRadius]="radius" 
        [startPoint]="markerCoords"  
        [initLat]="markerCoords?.lat ?? 48.7758459"
        [initLng]="markerCoords?.lng ?? 9.1829321"
        (markerLocation)="markerSet($event)"></app-map-container>
    </div>
    
    <div class="wrapper">
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" id="collapse" [animation]="false">
            <app-settings-taskbar 
            [sights]="sights" 
            [sightsWithPrio]="sightsWithPrio" 
            [startRadius]="radius" 
            [startPointSet]="marker"
            (settings)="getSettings($event)" 
            (radiusChange)="radiusChange($event)"
            (closeButton)="collapse.toggle()" ></app-settings-taskbar>
        </div>
        <i class="btn btn-primary"  
            [class.disabled]="!markerCoords" 
            [class.bi]="markerCoords"
            [class.bi-chevron-right]="isCollapsed"
            [class.bi-chevron-left]="!isCollapsed" 
            id="settings" 
            (click)="collapse.toggle()"  
            ngbTooltip="Click on Map to select startpoint first" 
            [disableTooltip]="!!markerCoords"
            ></i>
        </div>
</div>
