.item {
    border: 1px solid green;
    padding: 1px;
    height: 11vh;
    width: 10vw;
    flex-shrink: 0;
    color: black;
    font-size: 1vw;
}

.currentSection {
    color: red !important;
    border: 2px solid red !important;
}

.hover {
    color: darkslategrey;
    border: 2px solid darkslategrey;
}