<div class="container-fluid">
  <div class="row" style="margin: 10px">
    <div class="col card border-primary text-center">
      <div class="card-body row">
        <div class="col">
          <h1 class="card-title">Willkommen bei Trailscout!</h1>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, s
            ed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea t
            akimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row card border-secondary text-center" style="margin: 10px">
    <div class="card-body">
      <h2 class="card-title">Die beste Tour durch die Stadt!</h2>

      <swiper
        [slidesPerView]="1"
        [navigation]="true"
        [pagination]="{ type: 'bullets' }"
        [centeredSlides]="true"
        [keyboard]="{enabled: true}"
        [virtual]="true"
        class="my-swiper"
      >
        <ng-template swiperSlide>
          Slide 1:
          <img src="assets/app-Screenshot.png" alt="Ein Bild von der Main Page" style="width: 60%;">
        </ng-template>

        <ng-template swiperSlide>
          Slide 2:
          <img src="assets/app-Screenshot.png" alt="Ein Bild von der Main Page" style="width: 60%;">
        </ng-template>

        <ng-template swiperSlide>
          Slide 3:
          <img src="assets/app-Screenshot.png" alt="Ein Bild von der Main Page" style="width: 60%;">
        </ng-template>
      </swiper>
    </div>
  </div>
</div>
