<div class="container-fluid">
  <div class="row" style="margin: 10px">
    <div class="col card border-primary text-center">
      <div class="card-body row">
          <img  class="col" src="https://images.pexels.com/photos/691637/pexels-photo-691637.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Ein Bild von der Main Page" style="width: 90%;">
        <div class="col">
          <h1 class="card-title">Spannende Touren mit Trailscout</h1>
          <p>
            Zu Beginn einer Reise stellt sich das Problem der Routenwahl.
            Für gewöhnlich möchte man so schnell wie möglich von A nach B kommen.
            Das ist aber anders, wenn man eine Wanderung oder Stadttour planen will.
            Dann sollen auf einer Route möglichst viele Museen, schöne Plätze in der Natur oder
            andere Sehenswürdigkeiten besucht werden.
            Natürlich ist es nicht möglich ewig zu wandern. Deshalb soll die Anzahl an interessanten Orten,
            die in der begrenzten Laufzeit besucht werden, maximiert werden.
            Statt dem bei Routen herkömmlichen Minimierungsproblem geht es jetzt um ein Maximierungsproblem.
          </p>
          <p>
            Mit unserem Routenplaner Trailscout ist das Erstellen einer solche Sightseeing-Tour einfach möglich.
            Wähle aus, welche der vielen interessanten Sehenswürdigkeiten du besonders interessant findest und unsere
            Algorithmen werden ihr Möglichstes tun, dir beste Tour nach deinen Bedürfnissen zu erstellen.
            Ob Museen, Highlights in der Natur oder Restaurants und Shopping Malls,
            Trailscout kennt dank Open Street Map die wichtigsten Sehenswürdigkeiten und ist einfach erweiterbar.

          </p>

          <button  class="btn-primary btn btn-lg" type="button" id="start-btn"
                   (click)='goToPage("main")'>Jetzt Planen</button>

        </div>

      </div>
    </div>
  </div>
  <div class="row card border-secondary text-center" style="margin: 10px">
    <div class="card-body">
      <h2 class="card-title">Trailscout - So gehts:</h2>

      <swiper
        [slidesPerView]="1"
        [navigation]="true"
        [pagination]="{ type: 'bullets' }"
        [centeredSlides]="true"
        [keyboard]="{enabled: true}"
        [virtual]="true"
        class="my-swiper"
      >
        <ng-template swiperSlide>
          Slide 1 Startpunkt wählen & Settings:
          <img src="assets/app-Screenshot.png" alt="Ein Bild von der Main Page" style="width: 60%;">
        </ng-template>

        <ng-template swiperSlide>
          Slide 2 Sights anschauen:
          <img src="assets/app-Screenshot.png" alt="Ein Bild von der Main Page" style="width: 60%;">
        </ng-template>

        <ng-template swiperSlide>
          Slide 3 Kategorien:
          <img src="assets/app-Screenshot.png" alt="Ein Bild von der Main Page" style="width: 60%;">
        </ng-template>

        <ng-template swiperSlide>
          Slide 4 Individuelle Sights:
          <img src="assets/app-Screenshot.png" alt="Ein Bild von der Main Page" style="width: 60%;">
        </ng-template>

        <ng-template swiperSlide>
          Slide 5 Route berechnen:
          <img src="assets/app-Screenshot.png" alt="Ein Bild von der Main Page" style="width: 60%;">
        </ng-template>

        <ng-template swiperSlide>
          Slide 6 Route anschauen:
          <img src="assets/app-Screenshot.png" alt="Ein Bild von der Main Page" style="width: 60%;">
        </ng-template>
      </swiper>
    </div>
  </div>
</div>
