<div id="container">
    <div id="map" *blockUI="'map'">

        <app-map-container id='map-container'
        [circleRadius]="radius"
        [startPoint]="markerCoords"
        [initLat]="markerCoords?.lat ?? defaultStartPointLat"
        [initLng]="markerCoords?.lng ?? defaultStartPointLong"
        (markerLocation)="markerSet($event)"></app-map-container>
    </div>

    <div class="wrapper">
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" id="collapse" [class.mobile]="mobile" [animation]="false">
            <app-settings-taskbar
            [startRadius]="radius"
            [startPointSet]="marker"
            (radiusChange)="radiusChange($event)"
            (drawSightsEvent)="drawSights($event)"
            (showSightEvent)="showSight($event)"
            (closeButton)="collapse.toggle()"></app-settings-taskbar>
        </div>
        <i class="btn btn-primary"
            [class.disabled]="!markerCoords"
            [class.bi]="markerCoords"
            [class.bi-chevron-right]="isCollapsed"
            [class.bi-chevron-left]="!isCollapsed"
            [class.hidden]="!isCollapsed"
            id="settings"
            (click)="collapse.toggle()"
            ngbTooltip="Click on Map to select startpoint first"
            [disableTooltip]="!!markerCoords"
            ></i>
        <button class='btn btn-primary' id='modeToggle' (click)='this.toggleViewMode()'>
          <div *ngIf='!this.isRouteModeActive()'><i class='bi-signpost'></i> Show Route</div>
          <div *ngIf='this.isRouteModeActive()'><i class='bi-sliders'></i> Show Settings</div>
        </button>
    </div>
  <app-toast></app-toast>
</div>
